################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RulesPattern
/RulesPattern/bin/Debug/netcoreapp3.1
/RulesPattern/obj
/RulesPattern.Tests/bin/Debug/netcoreapp3.1
/RulesPattern.Tests/obj
